body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #f4f4f4;
    }
.calculator 
    {
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }
#display
    {
      width: 100%;
      height: 50px;
      font-size: 1.5em;
      text-align: right;
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
.buttons 
    {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }
button {
      height: 50px;
      font-size: 1.2em;
      border: none;
      border-radius: 5px;
      background: #ddd;
      cursor: pointer;
      transition: background 0.2s;
    }
button:hover {
      background: #ddd;
    }
.operator {
      background: #eca229ff;
      color: #fff;
    }
.operator:hover
 {
      background: #f37a10;
    }
.equal {
      background: #3b9240;
      color: #fff;
      grid-column: span 2;
    }
.equal:hover {
      background: #47a74c;
    }